sudo: required

language: node_js

node_js: 8

branches:
  only:
    - master

addons:
  apt:
  hosts:
    - localhost

before_install:
  - sudo apt-get update && sudo apt-get install sendmail python make g++

before_script:
  - npm install -g grunt-cli
  - sleep 10

script:
  - grunt coverage
